# --- Python & Cache ---
env/
venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Environment & Security ---
.env
.flaskenv
.git/
.gitignore

# --- Database & Local Data ---
# אנחנו רוצים שהקונטיינר יתחיל עם תיקייה ריקה או ימפה ווליום חיצוני
data/
*.db
*.db-wal
*.db-shm
*.db-journal
*.json

# --- Dev Tools & Metadata ---
.vscode/
.idea/
*.md
Dockerfile
docker-compose.yml